<!DOCTYPE html>
{% load static %}
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'website/img/Picture2.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Profession Hunter</title>

    <!--Font -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Delius+Swash+Caps&family=Laila:wght@500;600&family=MuseoModerno&family=Overlock:wght@400;700;900&display=swap"
          rel="stylesheet">
    <!font-family: 'Arbutus Slab', serif;
    font-family: 'Delius Swash Caps', cursive;
    font-family: 'Laila', serif;
    font-family: 'MuseoModerno', cursive;
    font-family: 'Overlock', cursive;
    Baloo Da 2-->

    <!CSS
    ============================================= -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/responsive.css' %}">


</head>
<body>
<!-- Start header section -->
<header class="header-area" id="header-area">
    <div class="dope-nav-container px-5 breakpoint-off">
        <div class="container px-5">
            <div class="row">
                <!-- dope Menu -->
                <nav class="dope-navbar justify-content-between" id="dopeNav">
                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'WebSite:home' %}">
                        <img src="{% static 'website/img/Picture2.png' %}" width="70" height="70">
                    </a>
                    <!-- Navbar Toggler -->
                    <div class="dope-navbar-toggler">
                                <span class="navbarToggler">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                    </div>
                    <!-- Menu -->
                    <div class="dope-menu">
                        <!-- close btn -->
                        <div class="dopecloseIcon">
                            <div class="cross-wrap">
                                <span class="top"></span>
                                <span class="bottom"></span>
                            </div>
                        </div>
                        <!-- Nav Start -->
                        <div class="dopenav">
                            <ul id="nav">
                                <li>
                                    <a href="{% url 'WebSite:home' %}">Home</a>
                                </li>
                                {#                                <li>#}
                                {#                                    <a href="{% url 'WebSite:about' %}">About</a>#}
                                {#                                </li>#}
                                <li>
                                    <a href="#">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'WebSite:institution' %}">Institutions</a></li>

                                        <li><a href="">courses</a>
                                            <ul class="dropdown">
                                                <li><a href="{% url 'WebSite:courses' %}">Details</a></li>
                                                <li><a href="{% url 'WebSite:directory' %}">Directory</a></li>
                                            </ul>
                                        </li>
                                        {#                                        <li><a href="{% url 'WebSite:career' %}">Career</a></li>#}
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">Tools</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="{% url 'WebSite:junior_predict' %}">Junior</a>
                                        </li>
                                        <li>
                                            <a href="#">Higher Secondary</a>
                                            <ul class="dropdown">
                                                <li><a href="{% url 'WebSite:science' %}">Science</a>
                                                <li><a href="{% url 'WebSite:arts' %}">Arts</a>
                                                <li><a href="{% url 'WebSite:commerce' %}">Business Studies</a>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                {% if user.is_authenticated %}
                                    <li>
                                        <a href="#">{{ user.username }}</a>
                                        <ul class="dropdown">
                                            <li><a href="{% url 'account_profile' %}">My Profile</a></li>
                                            {#                                            <li><a href="{% url 'BlogSite:book' %}">Books</a></li>#}
                                            <li><a href="{% url 'BlogSite:forum' %}">Forum</a></li>
                                            <li><a href="{% url 'logout' %}">Log Out</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'log_in' %}">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- end header section -->
<!-- Start banner section -->
<section class="banner-section2 relative" id="banner-section" style="background: url(img/about-header5.jpg);">
    <div class="overlay overlay-bg"></div>
    <div class="container px-5">
        <div class="row align-items-center fullscreen">
            <div class="col-md-6 banner-left">

                <h1 class="glow">Profession Hunter</h1>
                <h4>Your future carrier advisor...</h4> <br>
                <!-- <a class="video-btn primary-btn" href="about-us.html">About More</a> -->
                {#                <div class="container px-5">#}
                {#                    <div class="row">#}
                {#                        <!-- <div class="col-4"> -->#}
                {#                        <div class="dropdown col-4 p-0">#}
                {#                            <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu6"#}
                {#                                    data-toggle="dropdown"#}
                {#                                    aria-haspopup="true" aria-expanded="false">#}
                {#                                Dropdown#}
                {#                            </button>#}
                {#                            <div class="dropdown-menu" aria-labelledby="dropdownMenu6">#}
                {#                                <a class="dropdown-item" href="#">Regular link</a>#}
                {#                                <a class="dropdown-item active" href="#">Active link</a>#}
                {#                                <a class="dropdown-item" href="#">Another link</a>#}
                {#                            </div>#}
                {#                            <!-- </div> -->#}
                {#                        </div>#}
                {#                        <!-- <div class="col-8"> -->#}
                {#                        <div class="bg-light rounded rounded-pill shadow-sm col-8 p-0">#}
                {#                            <div class="input-group w-100">#}
                {#                                <input type="search" placeholder="What're you searching for?"#}
                {#                                       aria-describedby="button-addon1" class="form-control border-0 bg-light"#}
                {#                                       width="30px">#}
                {#                                <div class="input-group-append">#}
                {#                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i#}
                {#                                            class="fa fa-search"></i></button>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <!-- </div> -->#}
                {#                    </div>#}
                {#                    <!-- <div class="input-group">#}
                {#                        <input type="text" class="form-control" placeholder="Search this blog">#}
                {#                        <div class="input-group-append">#}
                {#                            <button class="btn btn-secondary" type="button">#}
                {#                            <i class="fa fa-search"></i>#}
                {#                            </button>#}
                {#                        </div>#}
                {#                    </div> -->#}
                {#                </div>#}
            </div>
        </div>
    </div>
</section>
<!-- End banner section -->
<!-- Start about section -->
<section class="about-section section-gap-full relative" id="about-section">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 about-left">
                <img class="" src="{% static 'website/img/undraw_book_lover_mkck.png' %}" width="700" height="726"
                     alt="">
            </div>
            <div class="col-lg-5 col-md-5 about-right">
                <h3>About Carisor</h3>

                <p>
                    "Carisor" হল একটি ক্যারিয়ার নির্ভর গাইডেন্স অ্যাপ্লিকেশন যেখানে স্কুল পর্যায়ের শিক্ষার্থীরা তাদের
                    ভবিষ্যতের ক্যারিয়ার সম্পর্কে প্রস্তুতি নেওয়ার জন্য বিস্তারিত জানতে পারে।প্রাথমিক পর্যায়ে এটি
                    শুধুমাত্র ৮ম শ্রেনী থেকে ভার্সিটিতে ভর্তি পর্যন্ত ক্যাটাগরিতে থাকা শিক্ষার্থীদের মধ্যে সীমাবদ্ধ৷
                    এখানে শিক্ষার্থীরা ফোরামে জয়েনের মাধ্যমে নিজেদের ক্যারিয়ার গড়ার ক্ষেত্রে প্রতিবন্ধকতাসমূহ শেয়ার করতে
                    পারবে, সমাধান নিতে পারবে, নিজেদের জানতে টেস্টিং টুলস ব্যবহারের মাধ্যমে নিজেকে যাচাই করতে পারবে,
                    বিভিন্ন জায়গায় ছড়িয়ে ছিটিয়ে থাকা শিক্ষাপ্রতিষ্ঠানসমূহ সম্পর্কে জানতে পারবে & বিভিন্ন
                    শিক্ষাপ্রতিষ্ঠানে থাকা বিভাগ এবং কোর্সসমূহ সম্পর্কে জানতে পারবে ।
                </p>
                <a class="primary-btn" href="index.html">Know More</a>
            </div>
        </div>
    </div>
    <div class="floating-shapes">
                            <span data-parallax='{"x": 150, "y": -20, "rotateZ":500}'>
                                <img src="img/shape/fl-shape-1.png" alt="">
                            </span>
        <span data-parallax='{"x": 250, "y": 150, "rotateZ":500}'>
                                <img src="img/shape/fl-shape-2.png" alt="">
                            </span>
        <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'>
                                <img src="img/shape/fl-shape-3.png" alt="">
                            </span>
        <span data-parallax='{"x": -20, "y": 180}'>
                                <img src="img/shape/fl-shape-4.png" alt="">
                            </span>
        <span data-parallax='{"x": 300, "y": 70}'>
                                <img src="img/shape/fl-shape-5.png" alt="">
                            </span>
        <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'>
                                <img src="img/shape/fl-shape-6.png" alt="">
                            </span>
        <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'>
                                <img src="img/shape/fl-shape-7.png" alt="">
                            </span>
        <span data-parallax='{"x": 60, "y": -100}'>
                                <img src="img/shape/fl-shape-9.png" alt="">
                            </span>
        <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'>
                                <img src="img/shape/fl-shape-10.png" alt="">
                            </span>
    </div>
</section>
<!-- End about section -->
<!-- Start feature section -->
<section class="feature-section section-gap-full" id="feature-section">
    <div class="container px-5">
        <div class="row align-items-center feature-wrap">
            <div class="col-lg-3 header-left">
                <h1>
                    Institutions
                </h1>
                <a class="primary-btn" href="{% url 'WebSite:institution' %}">Know More
                    <span class="ti-arrow-right"></span>
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row features-wrap">
                    {% for university in all_university %}
                        <div class="col-md-3">
                            <div class="single-feature relative" style="height: 75%">
                                <div class="overlay overlay-bg"></div>
                                <span class="fa fa-university" aria-hidden="true"></span>
                                <h6>
                                    {{ university.institutions }}
                                </h6>
                                <p>
                                    {{ university.types }}
                                </p>
                            </div>
                        </div>{% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature section -->
<!-- Start feature section -->
<section class="feature-section section-gap-full" id="feature-section">
    <div class="container px-5">
        <div class="row align-items-center feature-wrap">
            <div class="col-lg-3 header-left">
                <h1>
                    Courses
                </h1>
                <a class="primary-btn" href="{% url 'WebSite:courses' %}">Know More
                    <span class="ti-arrow-right"></span>
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row features-wrap">
                    {% for course in all_course %}
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="fa fa-desktop"></span>
                                <h6>{{ course.subjects_category }}</h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature section -->

<!-- Start service section -->
<section class="service-section section-gap-full">
    <div class="container px-5">
        <div class="section-title">
            <h2 class="text-center">Carisor Services</h2>
            <p class="text-center">Discover The Service Carisor Provide</p>
        </div>
        <div class="row">
            <div class="col-lg-6  col-md-6 pb-30">
                <div class="single-service h-100">
                    <i class="ti-user"></i>
                    <h4>Institutios</h4>
                    <p>
                        Here a user can found institutions in bangladesh.This is mainly a directory of institutions.
                    </p>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 pb-30">
                <div class="single-service h-100">
                    <i class="ti-announcement"></i>
                    <h4>Courses</h4>
                    <p>
                        Here a user can found courses in bangladesh.This is mainly a directory and details of
                        Courses,which are available in bangladesh.
                    </p>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 pb-30">
                <div class="single-service h-100">
                    <i class="ti-bar-chart"></i>
                    <h4>Tools</h4>
                    <p>
                        User can find here some future career assesment test. After that as a result some suggested
                        courses for future careers could be shown based on their interest & ability.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <div class="single-service h-100">
                    <i class="ti-palette"></i>
                    <h4>Forum</h4>
                    <p>
                        A user who has many questions about their future career,he could discuss his problem here.
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End service section -->


<!-- Start footer section -->
<footer class="footer-section section-gap-half">
    <div class="container px-5">
        <div class="row align-items-center">
            <div class="col-lg-5 footer-left">
                <a href="#">
                    <img src="img/logo-w.png" alt="">
                </a>
                <p class="copyright-text">&copy; 2020 Design With
                    <i class="fa fa-heart" aria-hidden="true"></i> By
                    <a href="http://dopetheme.com" target="_blank">Carisor Team</a>
                </p>
            </div>
            <div class="col-lg-7">
                <ul id="social">
                    <li>
                        <a target="_blank" href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <ul class="footer-menu">
                    <li>
                        <a href="#">Affiliate Program</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditionss</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Refund Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End footer section -->
<div class="scroll-top">
    <i class="ti-angle-up"></i>
</div>
<!--
JS
============================================= -->
<script src="{% static 'website/js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'website/js/vendor/popper.min.js' %}"></script>
<script src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'website/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/jquery.parallax-scroll.js' %}"></script>
<script src="{% static 'website/js/dopeNav.js' %}"></script>
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'website/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'website/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'website/js/waypoints.min.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'website/js/bootstrap-dropdownhover.js' %}"></script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html>