/* =================================== */
/*  Stat Styles 
/* =================================== */

.stat-section{
    background:$primary-color;
    h1,h4{
        color: $white;
    }
    .single-stat{
        color:$white;
        i{
            font-size: 35px;
        }
        h1{
            margin:20px 0px;
        }
    }
}