/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

$primary-font	: 'Poppins', sans-serif;


$primary-color      : #691cff;
$secondary-color    : #f51dac;

$title-color		: #222222;
$text-color			: #8c8d9e;

$white				: #fff;
$offwhite			: #fafcff;
$black				: #222;

