/* =================================== */
/*  About Styles 
/* =================================== */

.about-section {
    .overlay-bg1{
        background: url(../img/bg2.png);
        background-size: cover;
        background-position: center;
    }
    .overlay-bg2{
        background: url(../img/bg.png);
        background-size: cover;
        background-position: center;
    }    
    .about-left {
        img {
            width: 100%;
        }
    }
    .about-right {
        h3 {
            font-weight: 300;
        }
        h1 {
            margin-top: 20px;
            margin-bottom: 30px;
            max-width: 480px;
        }
        .icon {
            span {
                font-size: 40px;
                color: $primary-color;
            }
            margin-right: 30px;
        }
        .details {
            p {
                max-width: 300px;
                margin-top: 15px;
            }
            h4 {
                font-weight: 400;
            }
        }
        ul {
            li {
                margin-bottom: 20px !important;
                &:last-child {
                    margin-bottom: 0px !important;
                }
            }
        }
    }
}

.floating-shapes {
    span {
        display: block;
        position: absolute;
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
        &:nth-child(1) {
            left: 4.8%;
            top: 4.5%;
        }
        &:nth-child(2) {
            left: 9.6%;
            top: 27.2%;
        }
        &:nth-child(3) {
            left: 8.8%;
            bottom: 16%;
        }
        &:nth-child(4) {
            left: 25%;
            bottom: 21%;
        }
        &:nth-child(5) {
            left: 35%;
            top: 6.6%;
        }
        &:nth-child(6) {
            left: 43%;
            bottom: 30%;
        }
        &:nth-child(7) {
            left: 49%;
            top: 50%;
        }
        &:nth-child(8) {
            right: 11.8%;
            top: 33%;
        }
        &:nth-child(9) {
            right: 6%;
            top: 10%;
        }
        &:nth-child(10) {
            right: 4.5%;
            bottom: 33%;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .floating-shapes span {
        transform: none !important;
        display: none;
    }
}